USE [mwrlifelive]
GO
/****** Object:  StoredProcedure [dbo].[FastStartBonus]    Script Date: 7/7/2026 7:13:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER procedure [dbo].[FastStartBonus] --236411--232466 --212898 --1223644 
 @promoterid int--=236412
as
declare @sponsorID int
declare @FSBPromotionID bigint
declare @FSBTrackingErrorNumber int
declare @applicationName varchar(50)
declare @FSB1EndDate datetime, @FSB2EndDate datetime,@FSB3EndDate datetime, @FSB1StartDate datetime, @FSB2StartDate datetime,@FSB3StartDate datetime, @enrolldate datetime
declare @Mixed money
declare @elite money
declare @fsb1Amount money
declare @fsb2Amount money
declare @fsb3Amount money
declare @fsb1AmountExtended money
declare @QtyPlusFSB1 int,@QtyPlusFSB2 int, @QtyPlusFSB3 int
declare @QtyProFSB1 int,@QtyProFSB2 int, @QtyProFSB3 int
declare @QtyEliteFSB1 int,@QtyEliteFSB2 int, @QtyEliteFSB3 int
declare @LowestRank1 int, @LowestRank2 int, @LowestRank3 int
declare @EliteLevel int
declare @EliteLevel1 int
declare @EliteLevel2 int
declare @EliteLevel3 int
declare @EliteLevelExtended int
declare @Sponsored int
declare @userid int,@IsPermanentPromoCouponApplied bit=0
declare @VIPCountryList as table (Country varchar(20))
declare @promoter as table(Promoterid bigint, SponsorId bigint, EnrollDate datetime, Active int, PromoterLevel int, FreeType int, Country varchar(50), SpecialCode varchar(50), UserID bigInt,IsPromoCouponApplied bit,IsPermanentPromoCouponApplied bit)
declare @promoterExtended as table(Promoterid bigint, SponsorId bigint, EnrollDate datetime, Active int, PromoterLevel int, FreeType int, Country varchar(50), SpecialCode varchar(50), UserID bigInt,IsPromoCouponApplied bit,IsPermanentPromoCouponApplied bit)
declare @promoterfsb2 as table(Promoterid bigint, SponsorId bigint, EnrollDate datetime, Active int, PromoterLevel int, FreeType int, Country varchar(50), SpecialCode varchar(50), UserID bigInt,IsPromoCouponApplied bit,IsPermanentPromoCouponApplied bit)
declare @promoterfsb3 as table(Promoterid bigint, SponsorId bigint, EnrollDate datetime, Active int, PromoterLevel int, FreeType int, Country varchar(50), SpecialCode varchar(50), UserID bigInt,IsPromoCouponApplied bit,IsPermanentPromoCouponApplied bit)
declare @ExternalOrders as table(orderID int, OrderDate datetime,productId int, OrderStatus varchar(15), IsElite int,IsPermanentPromoCouponApplied bit)
declare @FreeCommission bit=0

insert into @VIPCountryList(Country)
select Country 
from dbo.MWRAutoStates where VIPTrigger=1

--select @Mixed, @elite

select @FSB1EndDate=FSB1EndDate,@FSB2EndDate=FSB2EndDate,@FSB3EndDate=FSB3EndDate,@FSB1StartDate=FSB1StartDate,
@FSB2StartDate=FSB2StartDate,@FSB3StartDate=FSB3StartDate,@sponsorID=p.SponsorId ,@applicationName=u.ApplicationName,@enrolldate=EnrollDate,
@userid=u.UserId
from dbo.promoters p 
inner join dbo.UserProfile u on u.userid=p.UserProfileId
where promoterid=@promoterid 

insert into @ExternalOrders(orderID, OrderDate,OrderStatus, productId, IsElite,IsPermanentPromoCouponApplied)
select o.OrderID,o.OrderDate,o.[Status],o.ProductID, isnull(o.IsEliteTravelAdvantagePro,0),o.IsPermanentPromoCouponApplied
from dbo.MWRCustomers c
inner join dbo.[Order] o on o.CustomerId=c.CustomerID
where c.SponsorMemberID=@userid and c.UserID!=@userid and o.[Status]='Active' and o.OrderDate >= @FSB1StartDate and o.OrderDate < @FSB1EndDate
and o.ProductID!=22 and o.ProductID!=19 and o.ProductID!=4 and o.FreeCommission=0
 and (o.IsDagCustomer=0 or o.IsDagCustomer is null) and o.IsCreatedWithPromoPrice=0



select @EliteLevel1 = count(*)
from dbo.MWRCustomers c
inner join dbo.[Order] o on o.CustomerId=c.CustomerID
where c.SponsorMemberID=@userid and c.UserID!=@userid and o.[Status]='Active' and o.OrderDate >= @FSB1StartDate and o.OrderDate < @FSB1EndDate
 and (o.IsDagCustomer=0 or o.IsDagCustomer is null)
and o.IsEliteTravelAdvantagePro=1 and o.IsPromoCouponApplied=0 and o.IsPromoCouponApplied=0  and o.ProductID=20 and o.FreeCommission=0 and o.IsCreatedWithPromoPrice=0



insert into @promoter(Promoterid, PromoterLevel, Active, Country, EnrollDate, FreeType, SpecialCode, SponsorId, UserID, IsPromoCouponApplied, IsPermanentPromoCouponApplied)
select top 2 Promoterid, PromoterLevel, Active, u.Country, p.EnrollDate, p.FreeType, SpecialCode, p.SponsorId, u.UserID,o.IsPromoCouponApplied,o.IsPermanentPromoCouponApplied 
from dbo.Promoters p 
inner join dbo.UserProfile u on u.UserId=p.UserProfileId 
inner join dbo.PromotersLevel l on l.ID=p.PromoterLevel
inner join dbo.MWRCustomers c on c.UserID=u.UserId
inner join dbo.[Order] o on o.CustomerId=c.CustomerID
where p.SponsorId=@promoterid and p.EnrollDate between @FSB1StartDate and @FSB1EndDate and (p.FreeType=0 or p.FreeType is null) 
and u.SpecialCode is null
and o.ProductID in(20,23,25,26,27,28) and o.[Status]='Active'  and (o.IsDagCustomer=0 or o.IsDagCustomer is null)
and o.FreeCommission=0 and o.IsCreatedWithPromoPrice=0
order by p.EnrollDate asc

insert into @promoterExtended(Promoterid, PromoterLevel, Active, Country, EnrollDate, FreeType, SpecialCode, SponsorId, UserID,IsPromoCouponApplied,IsPermanentPromoCouponApplied)
select top 2 Promoterid, PromoterLevel, Active, u.Country, p.EnrollDate, p.FreeType, SpecialCode, p.SponsorId, u.UserID,IsPromoCouponApplied,o.IsPermanentPromoCouponApplied 
from dbo.Promoters p 
inner join dbo.UserProfile u on u.UserId=p.UserProfileId 
inner join dbo.PromotersLevel l on l.ID=p.PromoterLevel
inner join dbo.MWRCustomers c on c.UserID=u.UserId
inner join dbo.[Order] o on o.CustomerId=c.CustomerID
where p.SponsorId=@promoterid and p.EnrollDate between @FSB1StartDate and DATEADD(d,14,@FSB1StartDate) and (p.FreeType=0 or p.FreeType is null) 
and u.SpecialCode is null and o.FreeCommission=0
and o.ProductID in(20,23,25,26,27,28) and o.[Status]='Active' and (o.IsDagCustomer=0 or o.IsDagCustomer is null) and o.IsCreatedWithPromoPrice=0
order by p.EnrollDate asc


select @EliteLevelExtended = count(*)
from dbo.MWRCustomers c
inner join dbo.[Order] o on o.CustomerId=c.CustomerID
where c.SponsorMemberID=@userid and c.UserID!=@userid and o.[Status]='Active' and o.OrderDate >= @FSB1StartDate and o.OrderDate < DATEADD(d,14,@FSB1StartDate)
and o.IsEliteTravelAdvantagePro=1 and o.IsPromoCouponApplied=0 and o.IsPermanentPromoCouponApplied=0 and o.ProductID=20  and (o.IsDagCustomer=0 or o.IsDagCustomer is null)
and o.FreeCommission=0 and o.IsCreatedWithPromoPrice=0

insert into @promoterfsb2(Promoterid, PromoterLevel, Active, Country, EnrollDate, FreeType, SpecialCode, SponsorId, UserID, IsPromoCouponApplied,IsPermanentPromoCouponApplied)
select top 2 Promoterid, PromoterLevel, Active, u.Country, p.EnrollDate, p.FreeType, SpecialCode, p.SponsorId, u.UserID,IsPromoCouponApplied,o.IsPermanentPromoCouponApplied 
from dbo.Promoters p 
inner join dbo.UserProfile u on u.UserId=p.UserProfileId 
inner join dbo.PromotersLevel l on l.ID=p.PromoterLevel
inner join dbo.MWRCustomers c on c.UserID=u.UserId
inner join dbo.[Order] o on o.CustomerId=c.CustomerID
where p.SponsorId=@promoterid and p.EnrollDate between @FSB2StartDate and @FSB2EndDate and (p.FreeType=0 or p.FreeType is null) 
and p.PromoterId not in (select promoterid from @promoter)
and u.SpecialCode is null and o.FreeCommission=0 and o.IsCreatedWithPromoPrice=0
and o.ProductID in(20,23,25,26,27,28) and o.[Status]='Active'  and (o.IsDagCustomer=0 or o.IsDagCustomer is null)
order by p.EnrollDate asc

select @EliteLevel2 = count(*)
from dbo.MWRCustomers c
inner join dbo.[Order] o on o.CustomerId=c.CustomerID
where c.SponsorMemberID=@userid and c.UserID!=@userid and o.[Status]='Active' and o.OrderDate >= @FSB2StartDate and o.OrderDate < @FSB2EndDate
and o.FreeCommission=0 and o.IsCreatedWithPromoPrice=0
and o.IsEliteTravelAdvantagePro=1 and o.IsPromoCouponApplied=0  and o.IsPermanentPromoCouponApplied=0 and o.ProductID=20

insert into @promoterfsb3(Promoterid, PromoterLevel, Active, Country, EnrollDate, FreeType, SpecialCode, SponsorId, UserID,IsPromoCouponApplied,IsPermanentPromoCouponApplied)
select top 2 Promoterid, PromoterLevel, Active, u.Country, p.EnrollDate, p.FreeType, SpecialCode, p.SponsorId, u.UserID,IsPromoCouponApplied ,o.IsPermanentPromoCouponApplied
from dbo.Promoters p 
inner join dbo.UserProfile u on u.UserId=p.UserProfileId 
inner join dbo.PromotersLevel l on l.ID=p.PromoterLevel
inner join dbo.MWRCustomers c on c.UserID=u.UserId
inner join dbo.[Order] o on o.CustomerId=c.CustomerID
where p.SponsorId=@promoterid and p.EnrollDate between @FSB3StartDate and @FSB3EndDate and (p.FreeType=0 or p.FreeType is null) 
and p.PromoterId not in (select promoterid from @promoter)
and p.PromoterId not in (select promoterid from @promoterfsb2)
and u.SpecialCode is null and o.FreeCommission=0 and o.IsCreatedWithPromoPrice=0
and o.ProductID in(20,23,25,26,27,28) and o.[Status]='Active'  and (o.IsDagCustomer=0 or o.IsDagCustomer is null)
order by p.EnrollDate asc



select @EliteLevel3 = count(*)
from dbo.MWRCustomers c
inner join dbo.[Order] o on o.CustomerId=c.CustomerID
where c.SponsorMemberID=@userid and c.UserID!=@userid and o.[Status]='Active' and o.OrderDate >= @FSB3StartDate and o.OrderDate < @FSB3EndDate
and o.IsEliteTravelAdvantagePro=1 and o.IsPromoCouponApplied=0 and o.IsPermanentPromoCouponApplied=0 and o.ProductID=20  and (o.IsDagCustomer=0 or o.IsDagCustomer is null)
and o.FreeCommission=0 and o.IsCreatedWithPromoPrice=0
--select @FSB1EndDate,@FSB2EndDate,@FSB3EndDate,@FSB1StartDate,@FSB2StartDate,@FSB3StartDate

set @Mixed =(select top 1 Commission from dbo.CommissionsAmounts where CommissionID='FastStartBonusElite')
set @elite =(select top 1 Commission from dbo.CommissionsAmounts where CommissionID='FastStartBonusMixed')
--select @elite

set @EliteLevel= isnull((select  count(*)
				from @promoter p
				where p.SponsorId=@promoterid 
				and p.EnrollDate between @FSB1StartDate and @FSB1EndDate  and PromoterLevel=3
				and Active=1 and IsPromoCouponApplied=0
			    ),0)


set @Sponsored= isnull((select  count(*)
				from @promoter p
				where p.SponsorId=@promoterid 
				and p.EnrollDate between @FSB1StartDate and @FSB1EndDate  and PromoterLevel !=3
				and Active=1 
			    ),0)

set @LowestRank1= isnull((select  top 1 p.PromoterLevel
				from dbo.Promoters p 
				inner join dbo.UserProfile u on u.UserId=p.UserProfileId 
				inner join dbo.PromotersLevel l on l.ID=p.PromoterLevel
				where p.SponsorId=@promoterid 
				and p.EnrollDate between @FSB1StartDate and @FSB1EndDate 
				and Active=1 and (p.FreeType=0 or p.FreeType is null) 
				and u.SpecialCode is null 
				and u.Country not in (select country from @VIPCountryList)
				order by l.SortIndex asc),0)

set @LowestRank2= isnull((select  top 1 p.PromoterLevel
				from dbo.Promoters p 
				inner join dbo.UserProfile u on u.UserId=p.UserProfileId 
				inner join dbo.PromotersLevel l on l.ID=p.PromoterLevel
				where p.SponsorId=@promoterid 
				and p.EnrollDate between @FSB2StartDate and @FSB2EndDate 
				and Active=1 and (p.FreeType=0 or p.FreeType is null) 
				and u.SpecialCode is null 
				and u.Country not in (select country from @VIPCountryList)
				order by l.SortIndex asc),0)

set @LowestRank3=isnull( (select  top 1 p.PromoterLevel
				from dbo.Promoters p 
				inner join dbo.UserProfile u on u.UserId=p.UserProfileId 
				inner join dbo.PromotersLevel l on l.ID=p.PromoterLevel
				where p.SponsorId=@promoterid 
				and p.EnrollDate between @FSB3StartDate and @FSB3EndDate 
				and Active=1 and (p.FreeType=0 or p.FreeType is null) 
				and u.SpecialCode is null 
				and u.Country not in (select country from @VIPCountryList)
				order by l.SortIndex asc),0)


if ((select count(*) from @promoter where PromoterLevel=3 and (IsPromoCouponApplied=0  and IsPermanentPromoCouponApplied=0))+@EliteLevel1) >=2
begin
	set @fsb1Amount =(select top 1 Commission from dbo.CommissionsAmounts where CommissionID='FastStartBonusElite')
end
else
begin
	set @fsb1Amount =(select top 1 Commission from dbo.CommissionsAmounts where CommissionID='FastStartBonusMixed')
end

if ((select count(*) from @promoterfsb2 where PromoterLevel=3 and (IsPromoCouponApplied=0 and IsPermanentPromoCouponApplied=0))+@EliteLevel2) >=2
begin
	set @fsb2Amount =(select top 1 Commission from dbo.CommissionsAmounts where CommissionID='FastStartBonusElite')
end
else
begin
	set @fsb2Amount =(select top 1 Commission from dbo.CommissionsAmounts where CommissionID='FastStartBonusMixed')
end

if ((select count(*) from @promoterfsb3 where PromoterLevel=3 and (IsPromoCouponApplied=0 and IsPermanentPromoCouponApplied=0))+@EliteLevel3) >=2
begin
	set @fsb3Amount =(select top 1 Commission from dbo.CommissionsAmounts where CommissionID='FastStartBonusElite')
end
else
begin
	set @fsb3Amount =(select top 1 Commission from dbo.CommissionsAmounts where CommissionID='FastStartBonusMixed')
end
if ((select count(*) from @promoterExtended where PromoterLevel=3 and (IsPromoCouponApplied=0 and IsPermanentPromoCouponApplied=0))+ @EliteLevelExtended) >=2
begin
	set @fsb1AmountExtended =(select top 1 Commission from dbo.CommissionsAmounts where CommissionID='FastStartBonusElite')
end
else
begin
	set @fsb1AmountExtended =(select top 1 Commission from dbo.CommissionsAmounts where CommissionID='FastStartBonusMixed')
end


if (@enrolldate between '2021-08-03 13:00:00' and '2021-10-03 13:00:00')
begin
	set @FSB1EndDate =DATEADD(d,14,@FSB1EndDate)
	set @FSB2EndDate =DATEADD(d,7,@FSB2EndDate)
	set @FSB3EndDate =DATEADD(d,7,@FSB3EndDate)
end
--select @EliteLevel,@Sponsored, @fsb1Amount,@fsb2Amount,@fsb3Amount
if (@applicationName='mwrlife.com' and  @elite >0 and @Mixed >0)
begin
/******************************************************Promoter*******************************************************************************/
if @fsb1Amount >0   and ((
	@EliteLevel1 + (select count(*) from @promoter p where p.SponsorId=@promoterid and EnrollDate between @FSB1StartDate and @FSB1EndDate and Active=1) ) =2 
	and (select count(*) from dbo.DailyRealTimeCommission where PromoterID=@promoterid and CommissionTypeID=105 and Creation >= @FSB1StartDate  )=0  
	or
     ((select count(*) from dbo.DailyRealTimeCommission where PromoterID=@promoterid and CommissionTypeID=105 and Creation >= @FSB1StartDate ) =1  and
		 (select count(*) from dbo.promoters p
			inner join dbo.userprofile u on u.userid=p.userprofileid
			inner join dbo.mwrcustomers c on c.userid=u.userid
			inner join dbo.[order] o on o.customerid=c.customerid
			inner join dbo.RecurringPayments r on r.orderid=o.orderid
			where o.productID !=4 and o.FreeCommission=0 and o.productID !=22 and o.ProductID!=19 and p.sponsorid=@promoterid and r.paymentcount=2 and o.IsCreatedWithPromoPrice=0)=2
			
			
		 )
	)  
begin
	select @EliteLevel1 as EliteLevel1
	if ((@EliteLevel1 + (select count(*) from @promoter p where p.SponsorId=@promoterid and EnrollDate between @FSB1StartDate and @FSB1EndDate and Active=1)) =2) 
	and (select count(*) from dbo.DailyRealTimeCommission where PromoterID=@promoterid and CommissionTypeID=105 and Creation >= @FSB1StartDate  )=0  
	begin
		INSERT INTO dbo.DailyRealTimeCommission (EarnedDate, PaymentDate, Amount, Paid, [Type],CommissionTypeID, [Description], PromoterID, ReversalTransactionID, AgentID, CustomerID, Creation, OriginalAgentID,OrderID,CheckMatchOverTransactionID, CommissionAddedBy)
		values(getdate(), getdate()+4, @fsb1Amount, 0, 0,105, 'First Half', @PromoterID, 0, 0, 0, getdate(),0,0,NEWID(),'Fast Start Bonus Process updated case 9')
		--print 'case 1'
		update dbo.Promoters set FSB2StartDate=getdate() where PromoterId=@promoterid
	end
end
/*****************************************************reset for 14 days*********************************************/

if   (select count(*) from dbo.DailyRealTimeCommission where PromoterID=@promoterid and CommissionTypeID=105 and Creation >= @FSB1StartDate )=0 
	and (@EliteLevelExtended + (select count(*) from @promoterExtended where EnrollDate between @FSB1StartDate and DATEADD(d,14,@FSB1StartDate) and Active=1) ) =2
begin
	--print 2
	if  (@EliteLevelExtended +(select count(*) from @promoterExtended  where EnrollDate between @FSB1StartDate and dateadd(d,14,@FSB1StartDate) and Active=1)) =2 
	and (select count(*) from dbo.DailyRealTimeCommission where PromoterID=@promoterid and CommissionTypeID=105 and Creation >= @FSB1StartDate  )=0  
	begin
		INSERT INTO dbo.DailyRealTimeCommission (EarnedDate, PaymentDate, Amount, Paid, [Type],CommissionTypeID, [Description], PromoterID, ReversalTransactionID, AgentID, CustomerID, Creation, OriginalAgentID,OrderID,CheckMatchOverTransactionID, CommissionAddedBy)
		values(getdate(), getdate()+4, @fsb1AmountExtended, 0, 0,105, 'First Half', @PromoterID, 0, 0, 0, getdate(),0,0,NEWID(),'Fast Start Bonus Process reset for 14 days updated case ')
		--print 'case 3'
		update dbo.Promoters set FSB2StartDate=getdate()-90 where PromoterId=@promoterid
		update dbo.Promoters set FSB3StartDate=getdate()-90 where PromoterId=@promoterid
	end
	
	
end

/*****************************************************end reset for 14 days*********************************************/
if  (select count(*) from dbo.DailyRealTimeCommission where PromoterID=@promoterid and CommissionTypeID=107 and Creation > @FSB2StartDate)=0 
   and (select count(*) from dbo.DailyRealTimeCommission where PromoterID=@promoterid and CommissionTypeID=105 and Creation >= @FSB1StartDate ) >0
    and (@EliteLevel2 +(select count(*) from @promoterfsb2 where  Active=1 and EnrollDate between @FSB2StartDate and @FSB2EndDate) ) =2
begin
	print 3
	if (@EliteLevel2 + (select count(*) from @promoterfsb2 p where p.SponsorId=@promoterid and EnrollDate between @FSB2StartDate and @FSB2EndDate and Active=1 ) =2
		and (select count(*) from dbo.DailyRealTimeCommission where PromoterID=@promoterid and CommissionTypeID=107 and Creation > @FSB2StartDate)=0 
		and    (select count(*) from dbo.DailyRealTimeCommission where PromoterID=@promoterid and CommissionTypeID=105 and Creation >= @FSB1StartDate and DATEDIFF(minute,creation,getdate())>2 )=1
	)
	begin
		INSERT INTO dbo.DailyRealTimeCommission (EarnedDate, PaymentDate, Amount, Paid, [Type],CommissionTypeID, [Description], PromoterID, ReversalTransactionID, AgentID, CustomerID, Creation, OriginalAgentID,OrderID,CheckMatchOverTransactionID, CommissionAddedBy)
		values(getdate(), getdate()+4, @fsb2Amount, 0, 0,107, 'First Half', @PromoterID, 0, 0, 0, getdate(),0,0,NEWID(),'Fast Start Bonus Process promoter updated case 10')
		--print 'case 5'
		update dbo.Promoters set FSB3StartDate=getdate() where PromoterId=@promoterid
	end
	
	
end
/*
select count(*) as FSB3 from dbo.DailyRealTimeCommission where PromoterID=@promoterid and CommissionTypeID=109 and EarnedDate >= @FSB3StartDate
select count(*) as FSB2 from dbo.DailyRealTimeCommission where PromoterID=@promoterid and CommissionTypeID=107 and EarnedDate >= @FSB2StartDate
select (isnull(@EliteLevel3,0) + (select count(*) from @promoterfsb3 where Active=1)) as promoterfsb3
*/
if not exists (select * from dbo.DailyRealTimeCommission where PromoterID=@promoterid and CommissionTypeID=109 and Creation >= @FSB3StartDate) 
   and  exists (select * from dbo.DailyRealTimeCommission where PromoterID=@promoterid and CommissionTypeID=107 and Creation >= @FSB2StartDate)  
   and (isnull(@EliteLevel3,0) + (select count(*) from @promoterfsb3 where Active=1)) =2

begin
	if ((select count(*) from @promoterfsb3 p where p.SponsorId=@promoterid and EnrollDate between @FSB3StartDate and @FSB3EndDate and Active=1 )=2)
	begin
		INSERT INTO dbo.DailyRealTimeCommission (EarnedDate, PaymentDate, Amount, Paid, [Type],CommissionTypeID, [Description], PromoterID, ReversalTransactionID, AgentID, CustomerID, Creation, OriginalAgentID,OrderID,CheckMatchOverTransactionID, CommissionAddedBy)
		values(getdate(), getdate()+4, @fsb3Amount, 0, 0,109, 'First Half', @PromoterID, 0, 0, 0, getdate(),0,0,NEWID(),'Fast Start Bonus Process promoter updated case 11')
		print 'case 7'
	end
	
end
/************************sponsor of the promoter******************************************/

delete from @promoter
delete from @promoterExtended
delete from @promoterfsb2
delete from @promoterfsb3
delete from @ExternalOrders

select @FSB1EndDate=FSB1EndDate,@FSB2EndDate=FSB2EndDate,@FSB3EndDate=FSB3EndDate,@FSB1StartDate=FSB1StartDate,
@FSB2StartDate=FSB2StartDate,@FSB3StartDate=FSB3StartDate,@applicationName=u.ApplicationName,@enrolldate=EnrollDate,@userid=u.UserId
from dbo.promoters p 
inner join dbo.UserProfile u on u.UserId=p.UserProfileId
where promoterid=@sponsorID

insert into @ExternalOrders(orderID, OrderDate,OrderStatus, productId, IsElite, IsPermanentPromoCouponApplied)
select o.OrderID,o.OrderDate,o.[Status],o.ProductID, isnull(o.IsEliteTravelAdvantagePro,0),o.IsPermanentPromoCouponApplied
from dbo.MWRCustomers c
inner join dbo.[Order] o on o.CustomerId=c.CustomerID
where c.SponsorMemberID=@userid and c.UserID!=@userid and o.[Status]='Active' and o.OrderDate >= @FSB1StartDate and o.OrderDate < @FSB1EndDate
and o.ProductID!=22 and o.ProductID!=19 and o.ProductID!=4
and o.FreeCommission=0
  and (o.IsDagCustomer=0 or o.IsDagCustomer is null) and o.IsCreatedWithPromoPrice=0


select @EliteLevel1 = count(*)
from dbo.MWRCustomers c
inner join dbo.[Order] o on o.CustomerId=c.CustomerID
where c.SponsorMemberID=@userid and c.UserID!=@userid and o.[Status]='Active' and o.OrderDate >= @FSB1StartDate and o.OrderDate < @FSB1EndDate
and o.IsEliteTravelAdvantagePro=1  and o.IsPromoCouponApplied=0 and o.IsPermanentPromoCouponApplied=0 and o.ProductID=20  and (o.IsDagCustomer=0 or o.IsDagCustomer is null)
and o.IsCreatedWithPromoPrice=0



insert into @promoter(Promoterid, PromoterLevel, Active, Country, EnrollDate, FreeType, SpecialCode, SponsorId, UserID,IsPromoCouponApplied,IsPermanentPromoCouponApplied)
select top 2 Promoterid, PromoterLevel, Active, u.Country, p.EnrollDate, p.FreeType, SpecialCode, p.SponsorId, u.UserID ,IsPromoCouponApplied,o.IsPermanentPromoCouponApplied
from dbo.Promoters p 
inner join dbo.UserProfile u on u.UserId=p.UserProfileId 
inner join dbo.PromotersLevel l on l.ID=p.PromoterLevel
inner join dbo.MWRCustomers c on c.UserID=u.UserId
inner join dbo.[Order] o on o.CustomerId=c.CustomerID
where p.SponsorId=@sponsorID and p.EnrollDate between @FSB1StartDate and @FSB1EndDate and (p.FreeType=0 or p.FreeType is null) 
and u.SpecialCode is null and o.FreeCommission=0
and o.ProductID in(20,23,25,26,27,28) and o.[Status]='Active'  and (o.IsDagCustomer=0 or o.IsDagCustomer is null)
and o.IsCreatedWithPromoPrice=0
order by p.EnrollDate asc

insert into @promoterExtended(Promoterid, PromoterLevel, Active, Country, EnrollDate, FreeType, SpecialCode, SponsorId, UserID,IsPromoCouponApplied,IsPermanentPromoCouponApplied)
select top 2 Promoterid, PromoterLevel, Active, u.Country, p.EnrollDate, p.FreeType, SpecialCode, p.SponsorId, u.UserID,IsPromoCouponApplied ,o.IsPermanentPromoCouponApplied
from dbo.Promoters p 
inner join dbo.UserProfile u on u.UserId=p.UserProfileId 
inner join dbo.PromotersLevel l on l.ID=p.PromoterLevel
inner join dbo.MWRCustomers c on c.UserID=u.UserId
inner join dbo.[Order] o on o.CustomerId=c.CustomerID
where p.SponsorId=@sponsorID and o.FreeCommission=0 and p.EnrollDate between @FSB1StartDate and DATEADD(d,14,@FSB1StartDate) and (p.FreeType=0 or p.FreeType is null) 
and u.SpecialCode is null
and o.IsCreatedWithPromoPrice=0
and o.ProductID in(20,23,25,26,27,28) and o.[Status]='Active'  and (o.IsDagCustomer=0 or o.IsDagCustomer is null)
order by p.EnrollDate asc


select @EliteLevelExtended = count(*)
from dbo.MWRCustomers c
inner join dbo.[Order] o on o.CustomerId=c.CustomerID
where c.SponsorMemberID=@userid and c.UserID!=@userid and o.[Status]='Active' and o.OrderDate >= @FSB1StartDate and o.OrderDate < DATEADD(d,14,@FSB1StartDate)
 and (o.IsDagCustomer=0 or o.IsDagCustomer is null) and o.FreeCommission=0
and o.IsEliteTravelAdvantagePro=1 and o.IsPromoCouponApplied=0 and o.IsPermanentPromoCouponApplied=0 and o.ProductID=20
and o.IsCreatedWithPromoPrice=0

insert into @promoterfsb2(Promoterid, PromoterLevel, Active, Country, EnrollDate, FreeType, SpecialCode, SponsorId, UserID,IsPromoCouponApplied,IsPermanentPromoCouponApplied)
select top 2 Promoterid, PromoterLevel, Active, u.Country, p.EnrollDate, p.FreeType, SpecialCode, p.SponsorId, u.UserID,IsPromoCouponApplied,o.IsPermanentPromoCouponApplied 
from dbo.Promoters p 
inner join dbo.UserProfile u on u.UserId=p.UserProfileId 
inner join dbo.PromotersLevel l on l.ID=p.PromoterLevel
inner join dbo.MWRCustomers c on c.UserID=u.UserId
inner join dbo.[Order] o on o.CustomerId=c.CustomerID
where p.SponsorId=@sponsorID and p.EnrollDate between @FSB2StartDate and @FSB2EndDate and (p.FreeType=0 or p.FreeType is null) 
and o.FreeCommission=0
and o.IsCreatedWithPromoPrice=0
and p.PromoterId not in (select promoterid from @promoter)
and u.SpecialCode is null
and o.ProductID in(20,23,25,26,27,28) and o.[Status]='Active'  and (o.IsDagCustomer=0 or o.IsDagCustomer is null)
order by p.EnrollDate asc

select @EliteLevel2 = count(*)
from dbo.MWRCustomers c
inner join dbo.[Order] o on o.CustomerId=c.CustomerID
where c.SponsorMemberID=@userid and c.UserID!=@userid and o.[Status]='Active' and o.OrderDate >= @FSB2StartDate and o.OrderDate < @FSB2EndDate
and o.IsEliteTravelAdvantagePro=1 and o.IsPromoCouponApplied=0 and o.IsPermanentPromoCouponApplied=0 and o.ProductID=20 and (o.IsDagCustomer=0 or o.IsDagCustomer is null)
and o.FreeCommission=0
and o.IsCreatedWithPromoPrice=0

insert into @promoterfsb3(Promoterid, PromoterLevel, Active, Country, EnrollDate, FreeType, SpecialCode, SponsorId, UserID,IsPromoCouponApplied,IsPermanentPromoCouponApplied)
select top 2 Promoterid, PromoterLevel, Active, u.Country, p.EnrollDate,p.FreeType, SpecialCode, p.SponsorId, u.UserID,IsPromoCouponApplied ,o.IsPermanentPromoCouponApplied
from dbo.Promoters p 
inner join dbo.UserProfile u on u.UserId=p.UserProfileId 
inner join dbo.PromotersLevel l on l.ID=p.PromoterLevel
inner join dbo.MWRCustomers c on c.UserID=u.UserId
inner join dbo.[Order] o on o.CustomerId=c.CustomerID
where p.SponsorId=@sponsorID and p.EnrollDate between @FSB3StartDate and @FSB3EndDate and (p.FreeType=0 or p.FreeType is null) 
and p.PromoterId not in (select promoterid from @promoter)
and p.PromoterId not in (select promoterid from @promoterfsb2)
and u.SpecialCode is null and o.FreeCommission=0
and o.IsCreatedWithPromoPrice=0
and o.ProductID in(20,23,25,26,27,28) and o.[Status]='Active'  and (o.IsDagCustomer=0 or o.IsDagCustomer is null)
order by p.EnrollDate asc

select @EliteLevel3 = count(*)
from dbo.MWRCustomers c
inner join dbo.[Order] o on o.CustomerId=c.CustomerID
where c.SponsorMemberID=@userid and c.UserID!=@userid and o.[Status]='Active' and o.OrderDate >= @FSB3StartDate and o.OrderDate < @FSB3EndDate
and o.IsEliteTravelAdvantagePro=1 and o.IsPromoCouponApplied=0 and o.IsPermanentPromoCouponApplied=0 and o.ProductID=20  and (o.IsDagCustomer=0 or o.IsDagCustomer is null)
and o.FreeCommission=0
and o.IsCreatedWithPromoPrice=0
--select @FSB1EndDate,@FSB2EndDate,@FSB3EndDate,@FSB1StartDate,@FSB2StartDate,@FSB3StartDate

set @Mixed =(select top 1 Commission from dbo.CommissionsAmounts where CommissionID='FastStartBonusElite')
set @elite =(select top 1 Commission from dbo.CommissionsAmounts where CommissionID='FastStartBonusMixed')
--select @elite

set @EliteLevel= isnull((select  count(*)
				from @promoter p
				where p.SponsorId=@sponsorID 
				and p.EnrollDate between @FSB1StartDate and @FSB1EndDate  and PromoterLevel=3 and IsPromoCouponApplied=0
				and Active=1 
			    ),0)


set @Sponsored= isnull((select  count(*)
				from @promoter p
				where p.SponsorId=@sponsorID 
				and p.EnrollDate between @FSB1StartDate and @FSB1EndDate  and PromoterLevel !=3
				and Active=1 
			    ),0)

set @LowestRank1= isnull((select  top 1 p.PromoterLevel
				from dbo.Promoters p 
				inner join dbo.UserProfile u on u.UserId=p.UserProfileId 
				inner join dbo.PromotersLevel l on l.ID=p.PromoterLevel
				where p.SponsorId=@sponsorID 
				and p.EnrollDate between @FSB1StartDate and @FSB1EndDate 
				and Active=1 and (p.FreeType=0 or p.FreeType is null) 
				and u.SpecialCode is null 
				and u.Country not in (select country from @VIPCountryList)
				order by l.SortIndex asc),0)

set @LowestRank2= isnull((select  top 1 p.PromoterLevel
				from dbo.Promoters p 
				inner join dbo.UserProfile u on u.UserId=p.UserProfileId 
				inner join dbo.PromotersLevel l on l.ID=p.PromoterLevel
				where p.SponsorId=@sponsorID 
				and p.EnrollDate between @FSB2StartDate and @FSB2EndDate 
				and Active=1 and (p.FreeType=0 or p.FreeType is null) 
				and u.SpecialCode is null 
				and u.Country not in (select country from @VIPCountryList)
				order by l.SortIndex asc),0)

set @LowestRank3=isnull( (select  top 1 p.PromoterLevel
				from dbo.Promoters p 
				inner join dbo.UserProfile u on u.UserId=p.UserProfileId 
				inner join dbo.PromotersLevel l on l.ID=p.PromoterLevel
				where p.SponsorId=@sponsorID 
				and p.EnrollDate between @FSB3StartDate and @FSB3EndDate 
				and Active=1 and (p.FreeType=0 or p.FreeType is null) 
				and u.SpecialCode is null 
				and u.Country not in (select country from @VIPCountryList)
				order by l.SortIndex asc),0)


if ((select count(*) from @promoter where PromoterLevel=3 and (IsPromoCouponApplied=0 and IsPermanentPromoCouponApplied=0))+@EliteLevel1) >=2
begin
	set @fsb1Amount =(select top 1 Commission from dbo.CommissionsAmounts where CommissionID='FastStartBonusElite')
end
else
begin
	set @fsb1Amount =(select top 1 Commission from dbo.CommissionsAmounts where CommissionID='FastStartBonusMixed')
end

if ((select count(*) from @promoterfsb2 where PromoterLevel=3 and (IsPromoCouponApplied=0 and IsPermanentPromoCouponApplied=0))+@EliteLevel2 ) >=2
begin
	set @fsb2Amount =(select top 1 Commission from dbo.CommissionsAmounts where CommissionID='FastStartBonusElite')
end
else
begin
	set @fsb2Amount =(select top 1 Commission from dbo.CommissionsAmounts where CommissionID='FastStartBonusMixed')
end

if ((select count(*) from @promoterfsb3 where PromoterLevel=3 and (IsPromoCouponApplied=0 and IsPermanentPromoCouponApplied=0))+@EliteLevel3) >=2
begin
	set @fsb3Amount =(select top 1 Commission from dbo.CommissionsAmounts where CommissionID='FastStartBonusElite')
end
else
begin
	set @fsb3Amount =(select top 1 Commission from dbo.CommissionsAmounts where CommissionID='FastStartBonusMixed')
end
if ((select count(*) from @promoterExtended where PromoterLevel=3 and (IsPromoCouponApplied=0 and IsPermanentPromoCouponApplied=0))+ @EliteLevelExtended) >=2
begin
	set @fsb1AmountExtended =(select top 1 Commission from dbo.CommissionsAmounts where CommissionID='FastStartBonusElite')
end
else
begin
	set @fsb1AmountExtended =(select top 1 Commission from dbo.CommissionsAmounts where CommissionID='FastStartBonusMixed')
end


if (@enrolldate between '2021-08-03 13:00:00' and '2021-10-03 13:00:00')
begin
	set @FSB1EndDate =DATEADD(d,14,@FSB1EndDate)
	set @FSB2EndDate =DATEADD(d,7,@FSB2EndDate)
	set @FSB3EndDate =DATEADD(d,7,@FSB3EndDate)
end
--select @EliteLevel,@Sponsored, @fsb1Amount,@fsb2Amount,@fsb3Amount
if (@applicationName='mwrlife.com' and  @elite >0 and @Mixed >0)
begin
/******************************************************Promoter*******************************************************************************/
if @fsb1Amount >0   and ((
	@EliteLevel1 + (select count(*) from @promoter p where p.SponsorId=@sponsorID and EnrollDate between @FSB1StartDate and @FSB1EndDate and Active=1) ) =2 
	and (select count(*) from dbo.DailyRealTimeCommission where PromoterID=@sponsorID and CommissionTypeID=105 and Creation >= @FSB1StartDate  )=0  
	or
     ((select count(*) from dbo.DailyRealTimeCommission where PromoterID=@sponsorID and CommissionTypeID=105 and Creation >= @FSB1StartDate ) =1  and
		 (select count(*) from dbo.promoters p
			inner join dbo.userprofile u on u.userid=p.userprofileid
			inner join dbo.mwrcustomers c on c.userid=u.userid
			inner join dbo.[order] o on o.customerid=c.customerid
			inner join dbo.RecurringPayments r on r.orderid=o.orderid
			where o.IsCreatedWithPromoPrice=0 and o.productID !=4 and o.FreeCommission=0 and o.productID !=22 and o.ProductID!=19 and p.sponsorid=@sponsorID and r.paymentcount=2)=2
		 )
	)  
begin
	select @EliteLevel1 as EliteLevel1
	if ((@EliteLevel1 + (select count(*) from @promoter p where p.SponsorId=@sponsorID and EnrollDate between @FSB1StartDate and @FSB1EndDate and Active=1)) =2) 
	and (select count(*) from dbo.DailyRealTimeCommission where PromoterID=@sponsorID and CommissionTypeID=105 and Creation >= @FSB1StartDate  )=0  
	begin
		INSERT INTO dbo.DailyRealTimeCommission (EarnedDate, PaymentDate, Amount, Paid, [Type],CommissionTypeID, [Description], PromoterID, ReversalTransactionID, AgentID, CustomerID, Creation, OriginalAgentID,OrderID,CheckMatchOverTransactionID, CommissionAddedBy)
		values(getdate(), getdate()+4, @fsb1Amount, 0, 0,105, 'First Half', @sponsorID, 0, 0, 0, getdate(),0,0,NEWID(),'Fast Start Bonus Process updated case 9')
		--print 'case 1'
		update dbo.Promoters set FSB2StartDate=getdate() where PromoterId=@sponsorID
	end
end
/*****************************************************reset for 14 days*********************************************/

if   (select count(*) from dbo.DailyRealTimeCommission where PromoterID=@sponsorID and CommissionTypeID=105 and Creation >= @FSB1StartDate )=0 
	and (@EliteLevelExtended + (select count(*) from @promoterExtended where EnrollDate between @FSB1StartDate and DATEADD(d,14,@FSB1StartDate) and Active=1) ) =2
begin
	--print 2
	if  (@EliteLevelExtended +(select count(*) from @promoterExtended  where EnrollDate between @FSB1StartDate and dateadd(d,14,@FSB1StartDate) and Active=1)) =2 
	and (select count(*) from dbo.DailyRealTimeCommission where PromoterID=@sponsorID and CommissionTypeID=105 and Creation >= @FSB1StartDate  )=0  
	begin
		INSERT INTO dbo.DailyRealTimeCommission (EarnedDate, PaymentDate, Amount, Paid, [Type],CommissionTypeID, [Description], PromoterID, ReversalTransactionID, AgentID, CustomerID, Creation, OriginalAgentID,OrderID,CheckMatchOverTransactionID, CommissionAddedBy)
		values(getdate(), getdate()+4, @fsb1AmountExtended, 0, 0,105, 'First Half!', @sponsorID, 0, 0, 0, getdate(),0,0,NEWID(),'Fast Start Bonus Process reset for 14 days updated case ')
		--print 'case 3'
		update dbo.Promoters set FSB2StartDate=getdate()-90 where PromoterId=@sponsorID
		update dbo.Promoters set FSB3StartDate=getdate()-90 where PromoterId=@sponsorID
	end
	
	
end

/*****************************************************end reset for 14 days*********************************************/
if  (select count(*) from dbo.DailyRealTimeCommission where PromoterID=@sponsorID and CommissionTypeID=107 and Creation > @FSB2StartDate)=0 
   and (select count(*) from dbo.DailyRealTimeCommission where PromoterID=@sponsorID and CommissionTypeID=105 and Creation >= @FSB1StartDate ) >0
    and (@EliteLevel2 +(select count(*) from @promoterfsb2 where  Active=1 and EnrollDate between @FSB2StartDate and @FSB2EndDate) ) =2
begin
	print 3
	if (@EliteLevel2 + (select count(*) from @promoterfsb2 p where p.SponsorId=@sponsorID and EnrollDate between @FSB2StartDate and @FSB2EndDate and Active=1 ) =2
		and (select count(*) from dbo.DailyRealTimeCommission where PromoterID=@sponsorID and CommissionTypeID=107 and Creation > @FSB2StartDate)=0 
		and    (select count(*) from dbo.DailyRealTimeCommission where PromoterID=@sponsorID and CommissionTypeID=105 and Creation >= @FSB1StartDate and DATEDIFF(minute,creation,getdate())>2 )=1
	)
	begin
		INSERT INTO dbo.DailyRealTimeCommission (EarnedDate, PaymentDate, Amount, Paid, [Type],CommissionTypeID, [Description], PromoterID, ReversalTransactionID, AgentID, CustomerID, Creation, OriginalAgentID,OrderID,CheckMatchOverTransactionID, CommissionAddedBy)
		values(getdate(), getdate()+4, @fsb2Amount, 0, 0,107, 'First Half', @sponsorID, 0, 0, 0, getdate(),0,0,NEWID(),'Fast Start Bonus Process promoter updated case 10')
		--print 'case 5'
		update dbo.Promoters set FSB3StartDate=getdate() where PromoterId=@sponsorID
	end
end
if not exists (select * from dbo.DailyRealTimeCommission where PromoterID=@sponsorID and CommissionTypeID=109 and Creation >= @FSB3StartDate) 
   and  exists (select * from dbo.DailyRealTimeCommission where PromoterID=@sponsorID and CommissionTypeID=107 and Creation >= @FSB2StartDate)  
   and (@EliteLevel3 + (select count(*) from @promoterfsb3 where Active=1)) =2

begin
	if ((select count(*) from @promoterfsb3 p where p.SponsorId=@sponsorID and EnrollDate between @FSB3StartDate and @FSB3EndDate and Active=1 )=2)
	begin
		INSERT INTO dbo.DailyRealTimeCommission (EarnedDate, PaymentDate, Amount, Paid, [Type],CommissionTypeID, [Description], PromoterID, ReversalTransactionID, AgentID, CustomerID, Creation, OriginalAgentID,OrderID,CheckMatchOverTransactionID, CommissionAddedBy)
		values(getdate(), getdate()+4, @fsb3Amount, 0, 0,109, 'First Half', @sponsorID, 0, 0, 0, getdate(),0,0,NEWID(),'Fast Start Bonus Process promoter updated case 11')
		--print 'case 7'
	end
end	
end
end

-- Shadow execution of the new FSB process. It must not affect the legacy flow.
IF @@TRANCOUNT = 0
BEGIN
	BEGIN TRY
		SELECT @FSBPromotionID = PromotionID
		FROM dbo.Promotions
		WHERE Code = 'FSB_2026_MAIN'

		IF @FSBPromotionID IS NOT NULL
		   AND @sponsorID IS NOT NULL
		BEGIN
			EXEC dbo.FSBTrackings_Load
				@PromotionID = @FSBPromotionID,
				@SponsorID = @sponsorID
		END
	END TRY
	BEGIN CATCH
		SET @FSBTrackingErrorNumber = ERROR_NUMBER()
	END CATCH
END
