USE [mwrlifelive]
GO
/****** Object:  StoredProcedure [dbo].[FastStartBonusCancellation]    Script Date: 7/7/2026 7:13:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 ALTER procedure [dbo].[FastStartBonusCancellation] --112126
 @promoterid int=112132
 as
declare @sponsorID int
declare @FSB1EndDate datetime, @FSB2EndDate datetime,@FSB3EndDate datetime, @FSB1StartDate datetime, @FSB2StartDate datetime,@FSB3StartDate datetime,@SponsorEnrollmentDate datetime
declare @Mixed money
declare @DeductedAmount money
declare @elite money
declare @SponsoredQty int=0
declare @SponsoredQtyElite int=0
declare @SponsoredQtyMixed int=0
declare @reversed bit=0
declare @id bigint
set @Mixed = (select top 1 Commission from dbo.CommissionsAmounts where CommissionID='FastStartBonusMixed')
set @elite = (select top 1 Commission from dbo.CommissionsAmounts where CommissionID='FastStartBonusElite')

select @sponsorID=SponsorId 
from dbo.promoters where promoterid=@promoterid

select @FSB1EndDate=FSB1EndDate,@FSB2EndDate=FSB2EndDate,@FSB3EndDate=FSB3EndDate,@FSB1StartDate=FSB1StartDate,
@FSB2StartDate=FSB2StartDate,@FSB3StartDate=FSB3StartDate,@SponsorEnrollmentDate=EnrollDate
from dbo.promoters where promoterid=@sponsorID

set @SponsoredQty =(select count(*) from dbo.Promoters where SponsorId=@sponsorID and EnrollDate between @FSB1StartDate and dateadd(d,14,@FSB1StartDate) and Active=1)
select @DeductedAmount=isnull(amount,0),@id=id from dbo.DailyRealTimeCommission where PromoterID=@sponsorID and CommissionTypeID=105
/************************Promoter******************************************/
if exists (select * from dbo.DailyRealTimeCommission where PromoterID=@sponsorID and CommissionTypeID=105 and datediff(d,paymentdate,getdate()) < 14) and not  exists (select * from dbo.DailyRealTimeCommission where PromoterID=@sponsorID and CommissionTypeID=106)
begin
	if (@SponsoredQty < 2 and @DeductedAmount >0 and not exists (select * from dbo.DailyRealTimeCommission where ReversalTransactionID=@id))
	begin
		if  exists (select * from dbo.DailyRealTimeCommission where PromoterID=@sponsorID and CommissionTypeID=105 and paid=1 )
		begin
			set @reversed=1
			INSERT INTO dbo.DailyRealTimeCommission (EarnedDate, PaymentDate, Amount, Paid, [Type],CommissionTypeID, [Description], PromoterID, ReversalTransactionID, AgentID, CustomerID, Creation, OriginalAgentID,OrderID,CheckMatchOverTransactionID, CommissionAddedBy)
			values(getdate(), getdate(),(-1 * @DeductedAmount), 0, 1,106, 'Fast Start Reversal', @sponsorID, @id, 0, 0, getdate(),0,0,NEWID(),'Fast Start Bonus Process')
		end
		else
		begin
			delete from dbo.DailyRealTimeCommission where Paid=0 and CommissionTypeID=105 and PromoterID=@sponsorID
			set @reversed=1
		end
	end
end
